<h3>*ngIf</h3>

<div *ngIf="courses.length == 0">
  Nenhum item relacionado
</div>

<div *ngIf="courses.length > 0">
  Lista de Itens
</div>

<div *ngIf="langs.length == 0">
  Nenhum item relacionado
</div>

<div *ngIf="langs.length > 0">
  Lista
</div>


<div>
  <p>Flag:{{flag}}</p>
</div>

<div *ngIf="flag">
  <p>Paragrafo ativado pela flag</p>
</div>

<button class="btn" (click)="flagChange()">Mudar Flag</button>

<div [hidden]="!flag">
  Pagrafo alterando o [hidden]="!flag" pela flag
</div>
