<h3>*ngStyle</h3>

<h5>Styles com property binding (Style Binding)</h5>
<button
  [style.backgroundColor]="active ? 'blue' : 'gray'"
  [style.color]="active ? 'white' : 'black'"
  [style.fontWeight]="active ? 'bold' : 'normal'"
  [style.fontSize]="fontSz + 'px'"
  (click)="changeActive()"
>
Mudar o Atrituo 'Ativo'
</button>
<br><br>

<h5>Styles com ngStyle</h5>
<button
  [ngStyle]="{
    'backgroundColor': active ? 'blue' : 'gray',
    'color': active ? 'white' : 'black',
    'fontWeight': active ? 'bold' : 'normal',
    'fontSize': fontSz + 'px'
  }"
  (click)="changeActive()"
>
Mudar o Atrituo 'Ativo'
</button>

<br><br>

<input type="text" [(ngModel)]="fontSz">